#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
  text-align: center;
  color: #1a1a1a;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

input{
  background: azure;
  border-radius: 20px;
  outline: none;
  border-color: azure;
  box-shadow: azure;
  padding-left: 2em;
  padding-right: 2em;
  height: 2.5em;
  width: 20em;
  color: #1a1a1a;
}

.weather-box{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;;
  align-items: normal;
  align-content: normal;
  margin-top: 2em;
}

.today{
  background: transparent;
  border-radius: 20px;
  box-shadow: 0 0 10px silver;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
  padding: 2em;
  width: 50em;
}
.today-info{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: normal;
  align-content: normal;
  text-align: left;
  overflow-wrap: break-word;
}

.today img{
  height: 300px;
  width: 300px;
  position: relative;
  left: -5em;
}
.today p {
  font-size: 20px;
}
.today span {
  font-size: 20px;
}
.other-days{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: normal;
  align-content: normal;
  margin: 1em;
  position: relative;
  top: -4em;
}

.other-day {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: normal;
  padding: 1em 1em 0 1em;
  background: transparent;
  border-radius: 20px;
  box-shadow: 0 0 10px silver;
  margin-right: 0.5em;
  margin-bottom: 0;
  width: 8em;
  height: 8em;
}
.other-day img {
  height: 50px;
  width: 50px;
}

.other-day span{
  font-weight: bold;
}

.other-day p{
}